/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
:root{
    --colorPrimario: #0f0f0e;
    --colorsecundario: #FFF5E4;
    --colorTercero:#C1D8C3;
    --colorCuarto:#6A9C89;
    --colorQuinto:#8f0808;
}

.headerInicio{
    height: 3.5rem;
    display: flex;
    justify-content:space-between ;
    background: var(--colorPrimario);
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
}
.seccionLogo{
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 1.25rem;
    width: 5.625rem;
}
.menuIcono{
    border-radius: 50%;
}
.headerInicio i.material-icons{
    margin-right: 0;
    width: 1.5rem;
    height: 1.5rem;
    color: #FFF5E4; 
    padding: 8px;
}
.iconoYoutube{
    height: 1.25rem;
    width: 5.60rem;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    padding-left: 1rem;
    padding-right: .875rem;
    background:transparent;
}
.iconoYoutube img{
    padding: 0;
    
}
.seccionBuscador{
    /* background: #6A9C89; */
    width: 45.75rem;
    height: 2.5rem;
    display: flex;
     
} 
.seccionSearch{
    display: flex;
    align-items: center;
    width: 39.5rem;
    height: 2.5rem;
    padding: 0rem .25rem 0rem .25rem;
    margin-left: 2.5rem;
    margin: 0 0 0 2.5rem;
    /* background: blue; */
}
.buscador{
    border-radius: 1.625rem;
    border: solid rgba(121, 117, 117, 0.918) .0625rem;
    display: flex;
    align-items: center;
    /* background: yellow; */
    height: 100%;
    box-sizing: border-box;
    width: 89.89%;
}
.searchBuscador{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.searchBuscador i {
    padding-left: 13px;
}
.searchBuscador input{
    box-shadow: none;
    width: 80%;
    background-color:transparent;
    border-color: #12140e;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 100%;
    text-align: inherit;
}
.buttonBuscador{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px 1px 4px;
    width: 54px;
    height: 36px;
    background-color: #5e5e5e69;
    border-top-right-radius: 25px;
    border-bottom-right-radius:  25px;
}
.buttonBuscador button{
    background-color: transparent;
    border-color: transparent;
    color: var(--colorTercero);  
}
.voiceBuscador {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: .75rem;
}
.seccionBuscador .voiceBuscador button{
    width: 100%;
    height: 100%;
    border-radius: 3.125rem;
    background-color: #5e5e5e69;
    border: solid transparent .125rem;
    color: white;
}
.seccionIniciar{
    width: 15.9375rem;
    height: 2.5rem;
    display: flex;
    /* background-color: blue; */
    color: white;
    justify-content: flex-end;
    align-items: center;
}
.botonesInicio{
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonesInicio button{
    background-color: transparent;
    border-color: transparent;
    color: white;
}
.botonesInicio:hover, .menuIcono:hover{
    background-color: #5e5e5e69;  
}
.fotoPerfil{
    background-color: transparent;
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    padding: .0625rem .375rem .0625rem .375rem;
}
.fotoPerfil img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
/* ---------------------------------- */
.contenido{
    width: 100%;
    background-color: var(--colorPrimario);
    height: 1200px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.contenedorVideo{
    display: flex;
    flex-direction: column;
    width: 53.85rem;
    height: 100%;
    background-color: transparent;
}
.contedorOpcionesVideos{
    padding-left: 1.25rem;
    width: 25.125rem;
    background-color: #6A9C89;
}
.seccionVideos{
    background-color: #8f0808;
    width: 100%;
    height: 50%;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.video img{
    width: 100%;
    padding: 10px;
    height: 460px;
}
.infoVideos{
    color: white;
}
.tituloVideo{
    color: white;
    height: 1.75rem;
    width: 40rem;
}
.tituloVideo h1{
    height: 100%;
    white-space: nowrap;
}
.imagenCanal{
    display: flex;
    width: 13.4375rem;
    height: 2.6875rem;
    /* background-color: blue; */
    align-items: center;
}
.imagenCanal img{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.numeroSuscriptores{
    display: flex;
    flex-direction: column;
}
.nameCanal{
    display: flex;
    align-items: center;
}
.numeroSuscriptores .nameCanal h1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
}
.numeroSuscriptores .nameCanal i{
    padding-left: 8px;
    font-size: 17px;
    padding-bottom: 5px;
}
.numeroSuscriptores p{
    font-size: 12px;
}
.suscribir{
    margin-top: 12px;  
    margin-right: 12px;
    height: 43px;
    width: 468px;
    display: flex; 
    align-items: center;
    color: white;
}
.suscribir div{
    padding-right: 2% ;
}
.botonSuscripcion{
    height: 1.98rem;
    width: 7.9875rem;
    display: flex;
    background-color: white;
    border-radius: 1.25rem;
}
.botonSuscripcion button{
    font-size: 1rem;
    border-color: transparent;
    background-color: transparent; 
    padding-left: .25rem;

}
.botonSuscripcion:hover{
    background-color: #81747434;
}
.botonesVideo{
    padding-left: 115px;
    display: flex;
}
.botonesCompartir{
    justify-content: center;
    height: 1.98rem;
    width: 7rem;
    display: flex;
    background-color:rgb(66, 66, 66);
    border-radius: 1.25rem;
    align-items: center;
    margin-left: .3125rem;
}
.botonesCompartir:hover{
    background-color: #696969;
}
.botonesCompartir button{
    font-size: 1rem;
    border-color: transparent;
    background-color: transparent;
}
.botonesCompartir .botonLike button{
    display: flex;
    align-items: center;
    color: white;
}
.botonesCompartir .botonLike button i{
    padding-right: .3125rem;
    padding-left: 1.375rem;
}
.botonesCompartir .botonNoLike button{
    display: flex;
    color: white;
}
.botonesCompartir .botonNoLike button i{
    padding-right: .625rem;
    padding-left: .4375rem;
}
.botonesCompartir .botonCompartir {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
}
.botonesCompartir .botonCompartir i{
    margin:.3125rem;
}
.botonesCompartir .botonClip{
    display: flex;
    align-items: center;
    color: white;
}
.botonesCompartir .botonClip i {
    margin-right: .1875rem;
}
/* ------------------------------------ */
.descripcion{
    background-color: transparent;
    margin-top:  .625rem;
    font-size: .8438rem;
}
.contenedorDescripcion{
    color: white;
    background-color: #3d3d3d;
    padding: .8125rem;
    border-radius: .8125rem;
    height: 4.375rem;
    overflow: hidden;
}
.visualizaciones h1{
    font-size: .875rem;
}
/* ------------------------ */
.seccionComentarios{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 17px;
}
.seccionComentarios .filtrarComentario{
    display: flex;
    font-size: 14px;
    font-style: arial;
    align-items: center;
}
.filtrarComentario h1{
    font-size: 1.1563rem;
    margin-right: 1.8125rem;
}
.filtrarComentario p{
    display: flex;
    align-items: center;
}
.filtrarComentario p i{
    padding-right: .4375rem;
}
/* --------------------- */
.comentar{
    margin-top: 1.25rem;
    display: flex;
}
.comentar img{
    display: flex;
    border-radius: 50%;
    background-color: red;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.10rem;
    align-items: center;
    justify-content: center;
}
.comentar input{
    padding-top: .9375rem; 
    padding-bottom: .4375rem;
    color: white;
    border: none;
    background-color: transparent;
    border-bottom: .0625rem solid rgb(126, 126, 126);
    width: 90%;
    height: .5rem;
}
.comentarios{
    margin-top: 1rem;
}
.navegacion.material-icons{
    color: var(--colorQuinto);
}
a{
    text-decoration: none;
    color: var(--colorQuinto);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.navegacion li a:hover {
    color: var(--colorCuarto);
}