<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">   
</head>
<body>
  <header class="headerInicio"> 
      <div class="seccionLogo">
        <div class="menuIcono">
          <i class="material-icons">menu</i>
        </div>
        <img class="iconoYoutube" [src]="imglogo" alt="imagen">
      </div>
      <div class="seccionBuscador">
        <div class="seccionSearch">
          <form class="buscador" action=" " >
              <!-- <i class="material-icons">menu</i> -->
              <div class="searchBuscador">
                <input type="text" placeholder="Buscar">
              </div>
              <div class="buttonBuscador">
                <button class="material-icons">search</button>
              </div>
          </form>
          <div class="voiceBuscador">
            <button class="material-icons" >mic</button>
          </div>
        </div>
      </div>
      <div class="seccionIniciar">
        <div class="botonesInicio">
          <button class="material-icons">video_call</button>
        </div>
        <div class="botonesInicio">
          <button class="material-icons">notifications</button>
        </div>
        <div class="fotoPerfil">
          <img [src]="fotoPerfil" alt="perfil">
        </div>
      </div>
  </header>
  <main class="contenido">
    <div class="contenedorVideo">
      <section class="seccionVideo">
        <div class="video">
          <iframe src="https://www.youtube.com/embed/0OSMNWgnZ78?si=W-E6YiKlxu5DM2ck" frameborder="0"></iframe>
          <!-- <img [src]="videoYoutube" alt="video"> -->
        </div>
      </section>
      <section class="infoVideos">
        <h1>{{tituloVideo}}</h1>
      </section>
      <section class="suscribir">
        <div class="imagenCanal">
          <img [src]="fotoPerfil" alt="foto">
          <div class="numeroSuscriptores">
            <div class="nameCanal">
              <h1>{{nameCanal}}</h1>
              <i class="material-icons">new_releases</i>
            </div> 
            <p> 1M suscriptores</p>
          </div>
        </div>
        <div class="botonSuscripcion">
          <button>Suscribirme</button>
        </div>
        <section class="botonesVideo">
          <div class="botonesCompartir">
            <div class="botonLike">
              <button ><i class="material-icons">thumb_up</i>9,4k</button>
            </div>
            <div class="botonNoLike">
              <button>|<i class="material-icons">thumb_down</i></button>
            </div>
          </div>
          <div class="botonesCompartir">
            <button class="botonCompartir"><i class="material-icons">reply_all</i>Compartir</button>
          </div>
          <div class="botonesCompartir">
            <button class="botonClip"><i class="material-icons">content_cut</i>Clip</button>
          </div>
        </section>
      </section>
      <section class="descripcion">
        <div class="contenedorDescripcion">
          <div class="visualizaciones">
            <h1><span class="viewers">{{visualizaciones}}</span>de Visualizaciones</h1>
            <p>Provided to youtube by cris</p>
          </div>
          <div>
            <p>{{parrafo}}</p>
          </div>
        </div>
        
      </section>
      <section class="seccionComentarios">
        <div class="filtrarComentario">
          <h1>2 comentarios</h1>
          <p><i class="material-icons">sort</i>Ordenar por</p>
        </div>
        <div class="comentar">
          <img [src]="fotoPerfil" alt="Img">
          <input type="text" name="" id="" placeholder="Añade un Comentario">
        </div>
        <div class="comentarios">
          <p>comentario 1</p>
          <p>comentario 2</p>
          <p>comentario 3</p>
        </div>
      </section>
    </div>
    <section class="contedorOpcionesVideos">
      <div class="botonesRecomendaciones">
        <button>Todos</button>
        <button>Años 1980</button>
        <button>New wad</button>
        <button>Pop rock</button>
      </div>
      <aside class="videosRecomendaciones">
          <div class="contenedorVideoRecomendacion">
            <picture class="videoImg">
              <img [src]="imgVideo1" alt="video">
            </picture>
            <div class="videoDescripcion">
              <h1>Enanitos verdes</h1>
              <p>nombre canal <i class="material-icons">new_releases</i></p>
              <p>9M visualizaciones  hace 6 dias</p>
            </div>
            <i class="material-icons">more_vert</i>
          </div>
          <div class="contenedorVideoRecomendacion">
            <picture class="videoImg">
              <img [src]="imgVideo2" alt="video">
            </picture>
            <div class="videoDescripcion">
              <h1>Enanitos verdes</h1>
              <p>nombre canal <i class="material-icons">new_releases</i></p>
              <p>9M visualizaciones  hace 6 dias</p>
            </div>
            <i class="material-icons">more_vert</i>
          </div>
          <div class="contenedorVideoRecomendacion">
            <picture class="videoImg">
              <img [src]="imgVideo3" alt="video">
            </picture>
            <div class="videoDescripcion">
              <h1>Enanitos verdes</h1>
              <p>nombre canal <i class="material-icons">new_releases</i></p>
              <p>9M visualizaciones  hace 6 dias</p>
            </div>
            <i class="material-icons">more_vert</i>
          </div>
      </aside>
    </section>
  </main>
  <footer></footer>
</body>
</html>
<router-outlet />
