<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">   
</head>
<body>
  <header class="headerInicio"> 
      <div class="seccionLogo">
        <div class="menuIcono">
          <i class="material-icons">menu</i>
        </div>
        <img class="iconoYoutube" [src]="imglogo" alt="imagen">
      </div>
      <div class="seccionBuscador">
        <div class="seccionSearch">
          <form class="buscador" action=" " >
              <!-- <i class="material-icons">menu</i> -->
              <div class="searchBuscador">
                <input type="text" placeholder="Buscar">
              </div>
              <div class="buttonBuscador">
                <button class="material-icons">search</button>
              </div>
          </form>
          <div class="voiceBuscador">
            <button class="material-icons" >mic</button>
          </div>
        </div>
      </div>
      <div class="seccionIniciar">
        <div class="botonesInicio">
          <button class="material-icons">video_call</button>
        </div>
        <div class="botonesInicio">
          <button class="material-icons">notifications</button>
        </div>
        <div class="fotoPerfil">
          <img [src]="fotoPerfil" alt="perfil">
        </div>
      </div>
  </header>
  <main class="contenido">
    <div class="contenedorVideo">
      <p>videos</p>
    </div>
    <div class="contedorOpcionesVideos">
      <p>hoal</p>
      <aside>
        <p>hoal</p>
      </aside>
    </div>
    <p>contenido</p>
  </main>
  <footer></footer>
</body>
</html>
<router-outlet />
